.profile-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #445566;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 0px 0px 20px 2px #7abdff7e;
}
